
.wrapper {
  background-color: #6B86A6;
  opacity: 0.5;
  width: 50%;
  height: 30%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.wrapper > div {
  color: white;
  font-size: 24pt;
}

.place {
  padding: 40px 0 0 20px;
}

.description {
  color: white;
  font-size: 16pt !important;
  padding-left: 30px;
}

.icon {
  width: 64px;
  height: 64px;
}

.clear-day {
  background-image: url(/public/icons/weather/wi_color_clear_day.png);
}

.sunny {
  background-image: url(/public/icons/weather/wi_color_sunny.png);
}

.snow {
  background-image: url(/public/icons/weather/wi_color_snow.png);
}

.rain-thunder {
  background-image: url(/public/icons/weather/wi_color_thunder.png);
}

.rain {
  background-image: url(/public/icons/weather/wi_color_rain.png);
}

.hail {
  background-image: url(/public/icons/weather/wi_color_hail.png);
}

.drizzle {
  background-image: url(/public/icons/weather/wi_color_drizzle.png);
}

.cloudy {
  background-image: url(/public/icons/weather/wi_color_cloudy.png);
}

.party-cloudy {
  background-image: url(/public/icons/weather/wi_color_partly_cloudy_day.png);
}